<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>624540052253-fc6b9oqfjd5v0si3811mo6d5eegfq87h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624540052253-fc6b9oqfjd5v0si3811mo6d5eegfq87h</string>
	<key>API_KEY</key>
	<string>AIzaSyAycW1pumn0NMKSYs6gmW2NEmEUu5cny6E</string>
	<key>GCM_SENDER_ID</key>
	<string>624540052253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.InClass07</string>
	<key>PROJECT_ID</key>
	<string>imagepicker-c265c</string>
	<key>STORAGE_BUCKET</key>
	<string>imagepicker-c265c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624540052253:ios:8756660764418cd7</string>
	<key>DATABASE_URL</key>
	<string>https://imagepicker-c265c.firebaseio.com</string>
</dict>
</plist>